@import url("https://fonts.googleapis.com/css?family=Monoton");
html {
  font-size: 16px;
  font-family: monospace;
}

body {
  min-height: 100vh;
  background-color: #222;
  background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="#000000" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.o-pen {
  text-align: center;
}

.a-neonText {
  font-size: 15vw;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 0.5rem #000, 0 0.7rem 0.5rem #000;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .a-neonText {
    font-size: 8rem;
  }
}
.a-neonToggle:checked ~ .a-neonText.-main {
  -webkit-animation-name: flickering-red;
          animation-name: flickering-red;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 7.5s;
          animation-duration: 7.5s;
}
.a-neonToggle:checked ~ .a-neonText.-frame {
  -webkit-animation-name: flickering-lime;
          animation-name: flickering-lime;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.a-neonToggle:checked ~ .a-neonText.-frame:first-of-type {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.a-neonToggle {
  display: none;
}

.m-switch {
  cursor: pointer;
  display: inline-block;
  margin: auto;
  bottom: 1rem;
  border: .5rem solid black;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.4), 0 0.5rem 0.25rem rgba(0, 0, 0, 0.4);
  background: #400000 linear-gradient(to top, #f77 0, #f55 15%, #f00 15%, #f00 85%, rgba(0, 0, 0, 0.2) 85%, rgba(0, 0, 0, 0.3) 100%) no-repeat scroll center/100% 100%;
}
.m-switch__part {
  transition: all .1s ease-in-out 0s;
}
.a-neonToggle:checked ~ .m-switch .m-switch__part {
  box-shadow: 0 0 1rem #f00;
  transition: all .1s ease-in-out .1s;
}

.a-switch {
  background-color: #400000;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  padding: .25em;
  text-align: center;
  transition: all .1s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.a-neonToggle:checked ~ .m-switch .a-switch {
  background-color: #d33;
}
.a-switch.-on {
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: scaleY(0.7);
          transform: scaleY(0.7);
}
.a-neonToggle:checked ~ .m-switch .a-switch.-on {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.a-switch.-off {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.a-neonToggle:checked ~ .m-switch .a-switch.-off {
  -webkit-transform: scaleY(0.7);
          transform: scaleY(0.7);
}

.a-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.65) 100%);
  mix-blend-mode: screen;
}

@-webkit-keyframes flickering-red {
  0%,
    14%,
    14.2%,
    49.6%,
    51%,
    52%,
    52.2%,
    100% {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 0.25rem #f00, 0 0 0.25rem #f00, 0 0 5rem #f00, 0 0 0.5rem #f00, 0 0 50rem #f00;
  }
  14.1%,
    49.7%,
    52.1% {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 0.5rem #000, 0 0.7rem 0.5rem #000;
  }
}

@keyframes flickering-red {
  0%,
    14%,
    14.2%,
    49.6%,
    51%,
    52%,
    52.2%,
    100% {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 0.25rem #f00, 0 0 0.25rem #f00, 0 0 5rem #f00, 0 0 0.5rem #f00, 0 0 50rem #f00;
  }
  14.1%,
    49.7%,
    52.1% {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 0.5rem #000, 0 0.7rem 0.5rem #000;
  }
}
@-webkit-keyframes flickering-lime {
  0%,
    14%,
    14.2%,
    49.6%,
    51%,
    52%,
    52.2%,
    100% {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 0.25rem lime, 0 0 0.25rem lime, 0 0 5rem lime, 0 0 0.5rem lime, 0 0 50rem lime;
  }
  14.1%,
    49.7%,
    52.1% {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 0.5rem #000, 0 0.7rem 0.5rem #000;
  }
}
@keyframes flickering-lime {
  0%,
    14%,
    14.2%,
    49.6%,
    51%,
    52%,
    52.2%,
    100% {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 0.25rem lime, 0 0 0.25rem lime, 0 0 5rem lime, 0 0 0.5rem lime, 0 0 50rem lime;
  }
  14.1%,
    49.7%,
    52.1% {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 0.5rem #000, 0 0.7rem 0.5rem #000;
  }
}
